/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    background: #eafcff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Main Container */
.container{
    width: 100%;
    max-width: 550px;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,.12);
}

/* Heading */
h1{
    color: #4338ca;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Courier New", monospace;
}

h2{
    color: #0f766e;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.4;
}

/* Input */
input[type="text"]{
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #d1d5db;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}

input[type="text"]:focus{
    border-color: #0ea5e9;
}

/* Add Button */
button[type="submit"]{
    width: 100%;
    padding: 12px;
    background: #14b8a6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

button[type="submit"]:hover{
    background: #0f766e;
}

hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e5e7eb;
}

/* =======================
        TASK LIST
======================= */

ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #dbeafe;
    border-left: 5px solid #2563eb;

    padding: 10px 12px;
    margin-bottom: 8px;

    border-radius: 8px;

    transition: .25s;
}

li:hover{
    background: #bfdbfe;
    transform: translateY(-2px);
}

/* Task Name */

li span{
    flex: 1;
    color: #1e3a8a;
    font-size: 16px;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Button Container */

.actions{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 15px;
}

/* Buttons */

.actions button{
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 16px;
    transition: .25s;
}

/* Complete */

.complete-btn{
    background: #22c55e;
}

.complete-btn:hover{
    background: #16a34a;
    transform: scale(1.08);
}

/* Delete */

.delete-btn{
    background: #ef4444;
}

.delete-btn:hover{
    background: #dc2626;
    transform: scale(1.08);
}

/* Completed Task */

.completed{
    text-decoration: line-through;
    color: #6b7280;
}